{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Editar | {{ persona.nombre }} {{persona.apellido_paterno}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "css/style.css" %}">

</head>
<body>
	<div class="wrapper">
		<h2 class="text-center">Simple aplicacíon <span class="fb">CRUD</span> en <span class="fb">DJANGO</span>.</h2>

		<a class="back mar-l-6" href="/"><i class="fa fa-arrow-circle-left"></i></a>
	<br><br> <br>

	{#------------------------------------------------------------------------------------#}



		<form method="POST" enctype="multipart/form-data">{% csrf_token %}
				
			{{form.as_p}}

			<input type="submit" value="Aceptar">

		</form>



	{#------------------------------------------------------------------------------------#}
		
	</div>
</body>
</html>